IO_LOC  "reset_n" 63;
IO_PORT "reset_n" PULL_MODE=UP;

IO_LOC  "clockCheck2" 81;
IO_PORT "clockCheck2" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "clockCheck" 82;
IO_PORT "clockCheck" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "segments[0]" 77;
IO_PORT "segments[0]" DRIVE=24 IO_TYPE=LVCMOS33;

IO_LOC  "segments[1]" 76;
IO_PORT "segments[1]" DRIVE=24 IO_TYPE=LVCMOS33;

IO_LOC  "segments[2]" 75;
IO_PORT "segments[2]" DRIVE=24 IO_TYPE=LVCMOS33;

IO_LOC  "segments[3]" 74;
IO_PORT "segments[3]" DRIVE=24 IO_TYPE=LVCMOS33;

IO_LOC  "segments[4]" 73;
IO_PORT "segments[4]" DRIVE=24 IO_TYPE=LVCMOS33;

IO_LOC  "segments[5]" 72;
IO_PORT "segments[5]" DRIVE=24 IO_TYPE=LVCMOS33;

IO_LOC  "segments[6]" 71;
IO_PORT "segments[6]" DRIVE=24 IO_TYPE=LVCMOS33;

IO_LOC  "segments[7]" 70;
IO_PORT "segments[7]" DRIVE=24 IO_TYPE=LVCMOS33;

IO_LOC  "selector[0]" 86;
IO_PORT "selector[0]" IO_TYPE=LVCMOS33;

IO_LOC  "selector[1]" 85;
IO_PORT "selector[1]" IO_TYPE=LVCMOS33;

IO_LOC  "selector[2]" 84;
IO_PORT "selector[2]" IO_TYPE=LVCMOS33;

IO_LOC  "selector[3]" 83;
IO_PORT "selector[3]" IO_TYPE=LVCMOS33;

IO_LOC  "btn1" 3;
IO_PORT "btn1" IO_TYPE=LVCMOS18;

IO_LOC  "btn2" 4;
IO_PORT "btn2" IO_TYPE=LVCMOS18;
